<footer class="footer bg-dark text-center text-white noselect">
      <section class="mb-4">
        <a class="social" href="https://www.linkedin.com/in/mahmoudgaber07/" target="_blank" role="button"
          ><i class="fa-brands fa-linkedin fs-5"></i></a>
  
        <a class="social" href="https://github.com/mahmoudgaber07" target="_blank" role="button"
        ><i class="fa-brands fa-github-square fs-5"></i></a>
  
        <a class="social" href="https://www.behance.net/mahmoudgaber16" target="_blank" role="button"
        ><i class="fa-brands fa-behance-square fs-5"></i></a>
  
        <a class="social" href="https://www.facebook.com/MahmoudGaber07/" target="_blank" role="button"
          ><i class="fa-brands fa-facebook fs-5"></i></a>
  
        <a class="social" href = "mailto: mahmoudgaber94@gmail.com" target="_blank" role="button"
        ><i class="fa-solid fa-envelope fs-5"></i></a>
      </section>
    <div class="copyright">
      {{copyRight}}
    </div>
  </footer>
  